
<!-- beginning of #topnavbar style -->
.topnavbar {
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: white;
    font-size: 14px;
    text-align: center;  
}

.topnavbar a { 
    text-decoration: none;
    padding: 8px 8px 8px 8px;
}

.topnavbar ul {
    padding: 8px 0px;
    margin: 10px;
    display: inline;
    text-align: center;
}

.topnavbar a:visited, a:link {
    color: gray;
}

.topnavbar a:hover {
    color: #F90;
}
<!-- end of #topnavbar style -->

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 100%;
    padding: 20px;
    margin: 40px 500px 40px 15px;
}

header {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 5em;   
}

.qa a:link, a:visited {
    color: #717171;
    font-style: italic;
}

.qa ul {
    list-style-type: none;
}




#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9 {
    color: #202020;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    background-color: #D0D0D0;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 25px;
    
    
}


p {
    margin: 10px;
}


#logo {
    background-color: orange;
    width: 15%;
    float: left;
    min-width: 250px;
}


#about {
    width: 85%;
    align-content: flex-start;
    float:right;
}

* {
    margin: 0;
}


<!-- beginning of style for splash page -->

#image {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}


a, .splash {
    text-decoration: none;
}

#newfirst {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}


.qa {
    display: block;
}
    
footer {
    color: #818181;
    font-size: 10px;
    position:absolute;
    bottom: 0;
    width: 100%; 
    left: 0;
    height: 100px;
    overflow: hidden;
}
       
        